.bx_pagination_bottom
{
	padding-bottom:109px;
}

.bg_pagination_perpage
{
	float:right;
	margin-top:6px;	
}

.bg_pagination_perpage ul
{
	list-style:none;
	padding:0px;
	margin:0px;
}

.bg_pagination_perpage ul li
{
	color:#666666;
	font-size:13px;
	letter-spacing:0.025em;
	float:left;
}

.bg_pagination_perpage ul .bg_pagination_perpage_title
{
	width:108px;
	text-align:left;
	
}

.bg_pagination_perpage ul .bg_pagination_perpage_separator
{
	padding:0px 9px 0px 9px;
}

.bg_pagination_perpage ul a
{
	color:#666666;
	padding-bottom:0px;
	display:inline-block;
	line-height:14px;
	border-bottom:solid 1px #666;
}

.bg_pagination_perpage ul a:hover
{
	text-decoration:none;
}

.bg_pagination_perpage ul .active
{
	color:#1eaa54;
}

.bx_pagination_page ul
{
	list-style:none;
	padding:0px;
	margin:0px;
}

.bx_pagination_page ul li
{
	float:left;
	padding-right:10px;
}

.bx_pagination_page ul li a
{
	display:inline-block;
	width:30px;
	height:26px;
	background:url(images/select-page.png) left top no-repeat;
	font-family:pfdin-bold;
	font-size:13px;
	color:#ffffff;
	letter-spacing:normal;
	text-transform:uppercase;
	text-shadow:0px -1px 0px rgba(20,20,21,0.3);
	padding:7px 0px 0px 0px;
	text-align:center;
}

.bx_pagination_page ul li.bx_active a
{
	display:inline-block;
	width:30px;
	height:26px;
	cursor:default;
	padding:7px 0px 0px 0px;
	background:url(images/select-page.png) left -33px no-repeat;
}

.next-bpage
{
	background:url(images/next-page.png) left top no-repeat;
	width:7px;
	height:11px;
	display:inline-block;
}

.prev-bpage
{
	background:url(images/back-page.png) left top no-repeat;
	width:7px;
	height:11px;
	display:inline-block;
}

.default-cursor
{
	background:url(images/select-page.png) left -33px no-repeat !important;
	cursor:default;
}

.bx_pagination_page ul li:first-child a
{
	background:url(images/select-page.png) left -33px no-repeat !important;
}

.bx_pagination_page ul li:last-child a
{
	background:url(images/select-page.png) left -33px no-repeat !important;
}

.bx_pg_text
{
	display:none;	
}

.bx_pagination_section_two
{
	display:none;	
}