.last-news-list
{
	background:url(images/last-news-bg.png);
	border-radius:5px 5px 5px 5px;
	padding:20px 30px 20px 30px;
	
}

.last-news-node
{
	padding-bottom:34px;	
}

.last-news-link
{
	text-align:left;
	padding-top:4px;
}

.last-news-link a
{
	color:#1eaa54;
	font-size:13px;
	line-height:20px;
	letter-spacing:0.025em;
	text-decoration:underline;
}

.last-news-link a:hover
{
	color:#1eaa54;
	text-decoration:underline;
}

.last-news-date
{
	font-size:13px;
	color:#666666;
	letter-spacing:0.025em;	
}

.last-news-show-all
{
	margin-top:-5px;
	padding-bottom:12px;
}

.last-news-show-all a
{
	color:#1eaa54;
	font-size:13px;
	line-height:20px;
	letter-spacing:0.025em;
	text-decoration:none;
}

.last-news-show-all a:hover
{
	color:#1eaa54;
	text-decoration:none;
}

.last-news-list .calendar-news-icon
{
	width:12px;
	height:12px;
	display:inline-block;
	background:url(images/calendar-icon.png) no-repeat;
	padding-right:4px;	
}

.last-news-list-title
{
	color:#505050;
	font-size:18px;
	font-family:pfdin-bold;
	letter-spacing:0.025em;
	font-weight:normal;
	text-transform:uppercase;
	padding:28px 0px 6px 0px;
	
}