.sale-filter
{
	clear:both;
	padding-top:28px;
}

.sale-filter form
{
	border:none;
	padding:0px;
	margin:0px;
	outline:none;
}

.sale-filter-node
{
	float:left;
	padding-right:37px;
}

.sale-filter-label
{
	color:#666666;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:0.025em;
	padding-bottom:7px;
}

.sale-filter-input input[type="text"]
{
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing:0.025em;
	padding:7px 5px 6px 11px;
	width:82px;
	border:solid 1px #999999;
	background:#FFF;
	margin-top:0px;
	outline:none;
}

.sale-filter-input input[type="text"]:last-child
{
	margin-left:20px;
}

.sale-filter-node input[type="submit"]
{
	border:none;
	background:none;
	color:#1eaa54;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:0.025em;
	font-size:13px;
	border-bottom:dotted 1px #1eaa54;
	padding:7px 0px 0px 0px;
	line-height:none;
	cursor:pointer;
	margin:0px;
	width:auto;
	margin-top:25px;
	margin-left:2px;
	outline:none;
	text-align: left;
	box-sizing:inherit;
}

.cusel
{
	border:solid 1px #999999;
	height: 28px;
}

.cuselText
{
	padding:5px 0 0 8px;
	width:130px;
}

.cuselFrameRight
{
	background-position:right -1px;
}

.sale-filter-footer-line
{
	height:25px;
}

#sale-category-select
{
	width:158px;
}

.bg_pagination_perpage
{
}